.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.affix + .container-fluid {
    padding-top: 70px;
}
html, body {
        background: linear-gradient(to right, #fcf1f3, #fcf8f9);
        color: #636b6f;
        font-family: 'Sriracha', cursive;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}
.b1 {
    float: left;
    text-align: center;
}
.h{
    font-size: 14px ;
    color: rgb(32, 30, 30);
    
}
.hhh{
    font-size: 14px ;
    color: rgb(32, 30, 30);
    text-align: center;
}
.navbar {
    border: 0;
    border-radius: 0;
    background: linear-gradient(to right, #ff5858, #f857a6);
}
.navbar-brand {
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}
#h01{
    font-size: 20px;
    margin: auto;
}
.card-body{
    min-width: 380px;
}
#card-body{
    margin-top: 0;;
    margin-bottom:0;
    padding-top: 0;
    padding-bottom: 0;
}
#form-control{
    background:linear-gradient(to right, #fcf1f3, #fcf8f9);
    
}
#f14{
    font-size: 16px;
    text-align: center;
    
}
#f12{
    font-size: 12px;
}
.pj01{
    align-self: center;
}
.table{
    margin-left:auto; 
    margin-right:auto;
    
}
#h{
    text-align: right;   
}
#hh{
    text-align: left;
}
#td1{
    width: 150px;
    height: 400px;
    align-items: center;
}
#td2{
    width: 180px;
    height: 400px;
}

#f16{
    text-align: center;
    font-size: 13px;
    
}
